.a4-1 {
    width: 700px;
    height: 990px;
    position: relative;
    background-color: #1e1e1e;
    overflow: hidden;
    text-align: left;
    font-size: 35px;
    color: #301500;
    font-family: Syne, sans-serif;
}

.base-page-structure {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 600px;
    height: 889px;
}
.page-nametag {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.nametag {
    position: absolute;
    height: 6.41%;
    width: 66.5%;
    top: 0;
    right: 33.5%;
    bottom: 93.59%;
    left: 0;
    border-radius: 20px 20px 10px 20px;
    background-color: #ff7e1c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 24px;
    box-sizing: border-box;
}
.vito-palmieri {
    position: relative;
    text-transform: capitalize;
    font-weight: 800;
}
.page-bg-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.cv-year-tag {
    position: absolute;
    height: 2.59%;
    width: 26.5%;
    top: 1.91%;
    left: 71%;
    right: 2.5%;
    bottom: 95.5%;
    color: #441d00;
}
.cv-2026 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: inline-block;
}
.page-content {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 600px;
    height: 890px;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    padding: 87px 20px 20px;
    box-sizing: border-box;
    color: #441d00;
}
.main-page {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
.main-container {
    width: 314px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.main-pill {
    border-radius: 15px;
    background-color: #ffae71;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    position: relative;
    font-size: 14px;
    font-weight: 800;
}
.dashed-textbox {
    align-self: stretch;
    border-radius: 15px;
    border: 1px dashed #ffae71;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    font-size: 12px;
    color: #642b00;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.main-container-text {
    flex: 1;
    position: relative;
}
.h3 {
    margin: 0;
    font-family: Syne, sans-serif;
    font-size: 13px;
    font-weight: 760;
    line-height: 20px;
}
.list {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;

}
.underlined {
    text-decoration: underline;
    text-decoration-style: dotted;
    
}
.sidebar {
    position: relative;
    border-radius: 20px;
    background-color: #ffeee2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    box-sizing: border-box;
    gap: 10px;
    font-weight: 500;
    text-align: center;
    font-size: 11px;
    font-family: Montserrat, sans-serif;
    color: #642b00;
}
.secondary-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.secondary-pill {
    border-radius: 15px;
    background-color: #ffd0ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
}
.full-textbox-container {
    align-self: stretch;
    border-radius: 13px;
    background-color: #ffe6d3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
}
.non-bottom-entry-for-sidebar {
    width: 174px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.textbox-for-hline {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div {
    align-self: stretch;
    position: relative;

}
.hline-icon {
    width: 60px;
    height: 2px;
    position: relative;
    max-height: 100%;
}
.small-text {
    font-size: 9px;
}

